.nav__container{
    max-width: 1440px;
    width: 1440px;
    height: 910px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nav__nav{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav__header{
    width: 100%;
    height: 100px;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.nav__logo{
    width: 10%;
    height: 100%;
}

.nav__img{
    width: 90%;
    height: 70%;
}

.nav__menu-icon{
    display: none;
}

.nav__list{
    position: relative;
    right: -2rem;
    width: 800px;
    height: 99px;
    gap: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav__item{
    width: 120px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav__item:hover{
    border-radius: 0.5rem;
    background-color: #146C94;
}

.presentation__container{
    position: absolute;
    left: 0;
    top: 10rem;
    width: 600px;
    height: 650px;
    z-index: 100;
}

.presentation-me{
    width: 100%;
    height: 100%;
}

.nav__box{
    position: absolute;
    top: 0;
    right: 0;
    width: 1000px;
    height: 900px;
    background-color: var(--pricipal-Cl);
}

.nav__title{
    position: absolute;
    top: 10rem;
    right: 1rem;
    color: white;
    width: 50%;
    height: 20%;
    font-size: 70px;
}

.nav__title span{
    color: var(--bg-second);
}

.nav__body{
    position: absolute;
    top: 29rem;
    right: 1rem;
    width: 50%;
    height: 7%;
    font-size: 25px;
    color: white;
}


:root{
    --bg: #000000;
    --bg-second: #146C94;
    --pricipal-Cl: #212a3e;
    --letters: #FFFFFF;
    --menu: #8491A0;
    --pc:#181823;
}

/* 
@media (min-width: 760px) {
    .nav__container{
        min-width: 760px;
        width: 760px;
    }

    .nav__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }

    .nav__menu-icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 40px;cursor: pointer;
        color: var(--menu);
     }


     .nav__list{
        display: none;
    }
    
    .nav__list.is-open{
        position: fixed;
        top: 2rem;
        right: 0;
        gap: 2rem;
        width: 20vw;
        height: 90%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
 */
