.skill{
    width: 100%;
    height: 400px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 5rem;
    gap: 2rem;
}

.skill__title{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    position: relative;
    top: 0;
    left: 2rem;
}

.skill__title-title{
    width: 100%;
    height: 100px;
    color: var(--letters);
    font-size: 70px;
}

.skill__title-body{
    width: 100%;
    height: 50%;
    font-size: 20px;
}

.skill__body{
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0rem;
    gap: 8rem;
}

.skill__body-container{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.bx-code-alt{
    width: 100%;
    height: 50px;
    position: relative;
    top: 0rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
    font-weight: 900;
    color: var(--bg-second);
}

.skill__body-title{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 0.7rem;
    font-weight: 700;
}

.skill__body-list{
    width: 100%;
    height: 60%;
    position: relative;
    top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.skill__pic{
    width: 100%;
    height: 300px;
}

.skill__pic-list{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.skill__pic-item{
    width: 12%;
    height: 50%;
}

.skill__pic-img{
    width: 100%;
    height: 100%;
}

.skill__pic-item:nth-child(5){
    background-color: white;
}






:root{
    --bg: #000000;
    --bg-second: #146C94;
    --pricipal-Cl: #212a3e;
    --letters: #FFFFFF;
    --menu: #8491A0;
    --pc:#181823;
}